GOOGLE_KEY=votre_cle_google_places
OPENAGENDA_KEY=votre_cle_openagenda
OPENWEATHER_KEY=votre_cle_openweather
SUPABASE_URL=https://votre-projet.supabase.co
SUPABASE_SERVICE_KEY=votre_cle_service_supabase
DATATOURISME_KEY=votre_cle_api_datatourisme
